#include <windows.h>

1 VERSIONINFO
FILEVERSION 1,0,9,0
PRODUCTVERSION 1,0,9,0
FILEOS VOS__WINDOWS32
FILETYPE VFT_DLL
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "CompanyName", "Pablo Botella\r\nwww.xbwin.com\r\n\0"
   VALUE "FileDescription", "libmysql cli wrapper for Xbase++ \000"
   VALUE "FileVersion", "1.0.9.0\000\000"
   VALUE "InternalName", "mysql4xb\000"
   VALUE "LegalCopyright", "Pablo Botella Navarro.\000\000"
   VALUE "OriginalFilename", "mysql4xb.dll\000"
  }

 }

 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x409, 1252
 }
}


                                     
