Desktop.ini
mysql4xb.sdf
*.VC.opendb
*.ppo
*.bak
*.idb                                      
*.disco	
*.idb	
*.ilk	
.map
.obj
.o
.pch	
.sbr	
.suo	
mysql4xb/.vs/mysql4xb/v14/.suo
mysql4xb/.vs/mysql4xb/v17/.suo
*.ipch
v15
.vs
/mysql4xb/Release/
/mysql4xb/Debug/
/mysql4xb/Packages/
/mysql4xb/source/Debug/
/mysql4xb/source/Release/
