# Auto detect text files and perform LF normalization
* text=auto
*.xbmac text eol=crlf
*.autoincrement  text eol=crlf
*.def   text eol=crlf
*.ch    text eol=crlf
*.prg   text eol=crlf
*.cpp   text eol=crlf
*.h     text eol=crlf
*.hpp   text eol=crlf
*.rc    text eol=crlf



# Custom for Visual Studio
*.cs     diff=csharp
*.vcproj    text eol=crlf
*.sh        text eol=lf



# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
